@{
    Page.mKeywords = "PHR, TJK, HTML, HTML5, CSS, CSS3, MySQL, SQL, JavaScript, JS, jQuery, C#, Razor, WebPages, ASP, AJAX, .NET, Flash, test page";
    Page.mDescription = "TJK homepage, hosted on AppHarbor";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    
    <head>
        <title>@Page.Title</title>
        
        <meta charset="utf-8" />
        <meta name="keywords" content="@Page.mKeywords"/>
        <meta name="description" content="@Page.mDescription"/>
        
        <link rel="stylesheet" type="text/css" href="@Href("~/Shared/html5reset-1.6.1.css")" />
        <link rel="stylesheet" type="text/css" href="@Href("~/Fonts/fonts.css")" />
        <link rel="stylesheet" type="text/css" href="@Href("~/Shared/PHRstyle.css")" />
        <link rel="shortcut icon" href="@Href("~/Images/favicon.ico")" />

        @* jQuery now used in a NuGet Package; it auto-copied the JS files into "Scripts" *@
        <script src="@Href("~/Scripts/jquery-2.0.1.min.js")"></script>
        <script src="@Href("~/Scripts/Main.js")"></script>
    </head>
    
    
    <body>
        
        <header id="headmain" class="C">
            <h1>TJK's Site</h1>
            @RenderPage("~/_nav.cshtml")
        </header>

        
        <section id="main">
            @RenderBody()
        </section>
        
        <footer id="footmain" class="C">
            <p>&copy; @DateTime.UtcNow.Year;  Last modified 2013/May/13 17:16 UTC</p>
            <p>Current DateTime:  <span id="timespan">@DateTime.UtcNow</span></p>
            
            <p id="warnJS">WARNING:  JavaScript blocked on this site.  Please re-enable it.  I won't hack your PC, I promise.  :)</p>
            <p id="warnScreen">This site is best displayed with a viewport larger than 1000px * 600px.</p>
        </footer>
        
    </body>
    
    
</html>
