@using System.Configuration;
@using System.Data;
@using System;

@using MySql.Data.MySqlClient;
@using MySql.Data;

@{
    Layout = "~/_Layout.cshtml";
    
    Page.Title = "MySql Test Page - PHR Home";
    //Page.mKeywords = "PHR, TJK, MySQL, SQL, test page";
    //Page.mDescription = "PHR homepage, hosted on AppHarbor";
}


<h1>Project List</h1>
<p>If you can read this, the "using MySql" command totally works.  Yay NuGet!  :D</p>
<hr />

@{
    string sConn = ConfigurationManager.ConnectionStrings["MyDB"].ConnectionString;
    string sName;
    int nResults, x;
    MySqlConnection Connect = new MySqlConnection(sConn);
    MySqlCommand Command;
    MySqlDataReader Results;
    
    try
    {
        Connect.Open();
        <p>Database opened successfully.</p>
        
        Command = new MySqlCommand("SELECT * FROM ProjectList;", Connect);
        Results = Command.ExecuteReader();
        nResults = 0;
        
        <table id="Results">
            <tr>
                @for (x = 0; x < Results.FieldCount; x++){
                    sName = Results.GetName(x);
                    <th>
                        <input type="radio" id="@sName" name="fieldNames" />
                        <label for="@sName">@sName</label>
                    </th>
                }
            </tr>
                
            @while (Results.Read()){
                <tr>
                    @for (x = 0; x < Results.FieldCount; x++)
                    {
                        <td>@Results[x]</td>
                    }
                </tr>
                nResults++;
            }

            <p>@nResults rows found.</p>
        </table>

    }
    catch(Exception e)
    {
        <p id="exception">@e.Message</p>
    }
    finally
    {
        Connect.Close();
    }
}
